<h2>
Search Products:
</h2>
<p>Please type <B>FULL</B> product name that your looking for..</p>
<form [formGroup] = "searchForm" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="alert alert-danger">
	      Please Insert full name of product :)
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>

<br />


<h2>
List of Products:
</h2>
<div>
<ul class = "list-group">
<li class = "list-group-item" *ngFor = "let key of productsKeys" >
    <span><b>Product id: </b> {{products[key].id}}</span>
    <br />
    <span><b>Name: </b> {{products[key].name}}</span>
    <br />
    <span><b>Price: </b> ${{products[key].price}}</span>
    <br>
    <button class="btn btn-info" [routerLink] = "['/edit-product', key]">Edit</button>
    <br />
</li>
</ul>
</div> 
