<h2>Add User: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" class="form-control" formControlName = "username" placeholder="Please enter username" required>
    <div *ngIf="!addform.controls.username.valid" class="alert alert-danger">
      Please add username
    </div> 
  </div>
  <div>
    <label for="email"></label>
   <input type="text" name="email" id="email" class="form-control" formControlName = "email" placeholder="Please enter email" required>
    <div *ngIf="!addform.controls.email.valid" class="alert alert-danger">
      Please add email
    </div> 
 </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!addform.valid">
</form>