<h2>List of products from <b>FB:</b></h2>

<ul class = "list-group">
    <li class = "list-group-item" *ngFor= "let data of dataFire"> <!--סינטקס שמור של ללואה המציגה את רשימה ההודעות מתוך האובייקט שעליו עשינו סבסקרייב -->
        <span><b>Product id:</b>  {{data.id}} <br></span>
        <span><b>name:</b>  {{data.name}}<br></span>
        <span><b>price:</b> {{data.price}}<br></span>
    </li>
</ul>
