<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <li routerLinkActive = "active current" [routerLinkActiveOptions]= {exact:true}> <a routerLink = "">Products</a></li><!-- מונע ריפרש של הדף ומבצע רק את הריפרש של הקומפוננטס-->
    <!--<li routerLinkActive = "active current" [routerLinkActiveOptions]= {exact:true}> <a routerLink = "">Welcome to my final Test!</a></li><!-- מונע ריפרש של הדף ומבצע רק את הריפרש של הקומפוננטס-->
    <!--<li routerLinkActive = "active current"><a routerLink="/users">Users</a></li>-->
    <!--<li routerLinkActive = "active current"><a routerLink="/products">Products</a></li> -->   
    <!--<li routerLinkActive = "active current"><a routerLink="/login">Login</a></li>  -->
    <!--<li routerLinkActive = "active current"><a routerLink="/fproducts">Products from FireBase</a></li> -->
    <li routerLinkActive = "active current"><a routerLink="/usersFireBase">Products from FireBase (fproducts) </a></li>
        <!-- <button type="usersFireBase">Click Me for Users from FireBase!</button>-->
       <!-- <li routerLinkActive = "active current"><a routerLink="/cars">Cars</a></li> --> 
    </ul>
  </div>
</div>
</nav>