<br/>
<br/>
<a  class="nav-link" routerLink="/products" routerLinkActive="active"  class="btn btn-danger"> Go back to Products</a>
<br />
<br />
<h2><b>Search Results:</b></h2>

<ul class="list-group">
  <div *ngIf="lengthKeys == 0">
    <h4>Sorry, No Results found! Please write the product's full name when search</h4>
  </div>
  <li class="list-group-item" *ngFor = "let key of productsKeys" >
    <span><b>name:</b> {{products[key].name}}</span>
    <br />
    <span><b>price:</b> ${{products[key].price}}</span>
 </li>  
</ul>