<div><button (click) = "logout()">Logout</button></div>
<user-create (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></user-create>
<h2>List of Users:</h2>
<ul class = "list-group">
 <li class = "list-group-item" *ngFor = "let key of usersKeys" >
   {{'User id: '+key+   ', User name: '+users[key].username}}
   
   <button class= "btn btn-danger" (click)="deleteUser(key)">Delete</button>
   <button class="btn btn-info" [routerLink] = "['/user-update', key]" (click) = "updateUser(key)">Update</button>
 </li>
</ul>