<!--<h2>Login: </h2>
      <form [formGroup] = "loginform" (ngSubmit) = "login()">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" formControlName = "username">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" id="password" class="form-control" formControlName = "password">
        </div>
        <div *ngIf = "invalid" class = "alert alert-danger">
          Invalid username or password
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>       
-->

<p>
  login works!
</p>