<h2>Update user {{user?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
<div>
<label for="username"></label>
<input type="text" name="username" id="username" class="form-control" formControlName = "username"  value="{{username}}" [(ngModel)]="username">
</div>
<div>
<label for="email"></label>
    <input type="text" name="email" id="email" class="form-control" formControlName = "email"  value="{{email}}" [(ngModel)]="email">
</div>
<br>
<input type="submit" value="Updat user" class="btn btn-primary">
</form>
